$days: ('mon' 0, 'tue' 1, 'wed' 2, 'thu' 3, 'fri' 4, 'sat' 5, 'sun' 6);
$days-num: 0, 1, 2, 3, 4, 5, 6;
$month-length: 28, 29, 30, 31;
$day-size: 100px;
$day-gap: 1px;
$calendar-padding: 10px;
$day-bg: #eee;
$day-border: 1px solid black;
$hover-bg: #ffbfcb;
$calendar-width: 7 * $day-size + 6 * $day-gap + 2 * $calendar-padding;
